.yep {
    width: 100%;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 45px;
    text-align: center;
}

.log-out-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

table {
    display: inline;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
th, td {
    border: 1px solid black;
    padding: 5px;
}

.space {
    padding: 2%;
}

.eye-icon {
    /* position: relative;
    right: 10px;
    top: 50%;
    transform: translateY(-50%); */
    cursor: pointer;
}

.limiter {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.wrap-login100 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 1rem;
}

.login100-form {
    text-align: center;
    display: grid;
}


  
